@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% 1%;
    --foreground: 0 0% 0% 1;

    --background-header: '#FFFFFF', --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 41% 63%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 22% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 22% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 22% 96%;
    --accent-foreground: rgba(255, 112, 0, 1);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --Dark-gradient: linear-gradient(
      267deg,
      rgba(23, 28, 35, 0.41) 10.27%,
      rgba(19, 22, 28, 0.7) 88.57%
    );
    --border-light: rgba(200, 203, 217, 0.33);
    --border-dark: #101012;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0% 1;
    --foreground: 0 0% 100% 1%;

    --background-header: 'rgba(15, 17, 23, 0.50)';
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 223 22% 11%;
    --popover-foreground: 225 41% 63%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 223 22% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 223 22% 17%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 223 22% 17%;
    --accent-foreground: rgba(255, 112, 0, 1);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 223 22% 17%;
    --input: 223 22% 17%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
}
